@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
:root{
     --Very-Dark-Gray: hsl(0, 0%, 17%);
     --Dark-Gray: hsl(0, 0%, 59%);
}
.overall-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header{
    text-align: center;
    color: white;
    background: url(../images/pattern-bg.png);
    position: relative;
    width: 100%;
    text-align: center;
    background-size:cover;
    display: flex;
    height:15rem;
    flex-direction: column;
    gap: 1.6rem;
}
.header h1{
    margin-top: 1.5rem;
}
.query{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
}
.query input{
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 15px;
    height: 100%;
    width: 16rem;
}
.query button{
    height: 100%;
    border-radius: 0 5px 5px 0;
    padding: 15px;
}

.ip-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
    width: 80%;
    position: absolute;
    top: 20%;
    background-color: white;
    z-index: 1;
    gap: 1.9rem;
    padding: 1rem;
    height: 15%;
    align-items: center;    
}

.info-item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    max-width: 100%;
}

.info-item::before{
    content: '';
    position: relative;
    width: 1px;
    background-color: black;
    height: 100%;
    right: -20%;
}

.info-item h4{
    color: var(--Dark-Gray);
    font-weight: 500;
    font-size: 0.8rem;
}
.info-item p{
    font-weight: 700;
    font-size: 1.3rem;
}
#map{
    height: 40rem;
    width:100%;
    z-index: 0;
    padding: 15px;
    
}
button{
    cursor: pointer;
    background-color: black;
}

@media only screen and (max-width:650px) {
    .ip-info{
        display: flex;
        flex-direction: column;
        text-align: center;
        top: 18%;
        width: 55%;
        min-height: 35%;
        gap: 1rem;
        justify-content:space-around;
    }
    .info-item{
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        flex-grow: inherit;
    }
    @media only screen and (max-width:365px) {
        .ip-info{
            gap: 0.4rem;
            top: 20%;
        }
        .info-item p{
            font-size: small;
        }
    }
}